body{
	background:url(img/yjpbackground.jpg);
	margin:0;
	background-size:cover;
}
#box{
	color: rgb(255, 250, 240);
            width: 650px;
            background: rgba(0, 0, 0, 0.4);
            padding: 40px;
            text-align: center;
            margin: auto;
            margin-top: 5%；
	 font-size: 30px;
}

#bread{
 border-bottom:1px black dotted;
 padding:3px;
 text-align:left;
}

#footer{
    font-size: small;
}
.box-img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
}
h1 {
            font-size: 50px;
            letter-spacing: 4px;
            font-weight: 400;
	font-family:"华文中宋";

        }
h2{
	font-size:30px;
	letter-spacing: 3px;
	font-family:"华文中宋";
	text-align:left;

}
p{
	font-size:30px;
	letter-spacing: 3px;
	font-family:"华文中宋";
	text-align:left;
	text-indent:2em;
}